body {
	font-family:'Open Sans', sans-serif;
}

a {
	text-decoration:none;
}



.clear-day {
	background-image:url('../img/bg_clear sky.svg');
}

.clear-night {
	background-image:url('../img/bg_clear sky.svg');
}

.rain {
	background-image:url('../img/bg_rain.svg');
}

.snow {
	background-image:url('../img/bg_snow.svg');
}

.sleet {
	background-image:url('../img/bg_hail.svg');

}

.wind {
	background-image:url('../img/bg_wind.svg');

}

.fog {
	background-image:url('../img/bg_fog.svg');

}

.cloudy {
	background-image:url('../img/bg_cloudy.svg');

}

.partly-cloudy-day {
	background-image:url('../img/bg_partly cloudy.svg');

}

.partly-cloudy-night {
	background-image:url('../img/bg_partly cloudy.svg');

}

.hail {
	background-image:url('../img/bg_hail.svg');

}

.thunderstorm {
	background-image:url('../img/bg_thunderstorm.svg');

}

.tornado {
	background-image:url('../img/bg_tornado.svg');

}


// tablet view
@media only screen and (min-width: 551px) {
  .logo {
  	width:450px;
  	img {
  		object-fit:contain;
  		object-position:center;
  		width:450px;
  		height:200px;
  	}
  }
  .date {
  	margin-top:80px;
  	font-size:3rem;
  }

  .menubtn {
  		margin-right:100px;
  button {
  	  width: 80px;
      height: 80px;
  }
}

}

// desktop view

@media only screen and (min-width: 1000px) {
  .logo {
  	width:500px;
  	img {
  		object-fit:contain;
  		object-position:center;
  		width:500px;
  		height:300px;
  	}
  }

  .date {
  	margin-top:60px;
  	font-size:30rem
  }
}
