body {
	font-family:'Open Sans', sans-serif;
}

a {
	text-decoration:none;
}



.clear-day {
	background-image:url('../img/bg_clear sky.svg');
}

.clear-night {
	background-image:url('../img/bg_clear sky.svg');
}

.rain {
	background-image:url('../img/bg_rain.svg');
}

.snow {
	background-image:url('../img/bg_snow.svg');
}

.sleet {
	background-image:url('../img/bg_hail.svg');

}

.wind {
	background-image:url('../img/bg_wind.svg');

}

.fog {
	background-image:url('../img/bg_fog.svg');

}

.cloudy {
	background-image:url('../img/bg_cloudy.svg');

}

.partly-cloudy-day {
	background-image:url('../img/bg_partly cloudy.svg');

}

.partly-cloudy-night {
	background-image:url('../img/bg_partly cloudy.svg');

}

.hail {
	background-image:url('../img/bg_hail.svg');

}

.thunderstorm {
	background-image:url('../img/bg_thunderstorm.svg');

}

.tornado {
	background-image:url('../img/bg_tornado.svg');

}