.aboutPage {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100vh; 
  top: 0;
  left: 0;
  background-color: #000;
  color: #CDC3C5;


  .aboutgrid {
  display:grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(6, 16.67%);
      height:100vh;
    width:100%;


.aboutBox {
    grid-row: 2 / span 6;
    grid-column: 2 / span 4;
    text-align: left;
    align-self:end;
}

.menubtn {
      display:grid;
      grid-row: 1;
      grid-column: 6;
      width:40px;
      justify-self:end;
      margin-right:2em;
      align-self:end;
      button:hover {
      cursor: pointer;
      }

      button {
      width: 50px;
      height: 50px;
      background-image: url('../img/hallows_inverse.svg');
      background-color: rbga(0,0,0,0); 
      border-radius:50%;
      border: 0px;

    }

      
    }

    .socials {
      grid-row:9;
      grid-column:1 / span 6;
      width:80%;
      justify-self:center;
      align-self:center;
      align-items:center;
      display:flex;
      justify-content:space-around;

      svg {
    	fill:#CDC3C5;
      width:50px;
      }
      

    }
}

}

// .hide {
//   display: block;
// }