main {
	display:grid;
	grid-template-rows: repeat(10, 10%);
	grid-template-columns: repeat(6, 16.67%);
	background-image:url('../img/bg_clear sky.svg');
	width:100%;
  height:100vh;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  justify-items: center;
  align-items:center;
  overflow-y: hidden;

  	.date {
  		color: #EAA73A;
  		font-size: 1rem;
  		grid-column: 1 / span 6;
  		grid-row: 1;
      padding-top:2.8rem;
      font-family: 'Open Sans', sans-serif;
  	}

  	.currentTemp {
  		grid-column: 1 / span 6;
  		grid-row: 2;
      font-family: 'Philosopher', sans-serif;
      font-size: 6rem;
      color: #EAA73A;
  	}

  	.infoBox {
  		grid-row: 3 / span 2;
      grid-column: 1 / span 6;
      background-color: rgba(255,255,255,.4);
      width: 90%;
      height:100px;
      display:grid;
      border-radius: 25px;
      justify-content: space-around;
      align-content: center;
      line-height:0rem;
      text-align:center;
      padding-top:.5rem;

    .sunrise {
      grid-column: 1;
      text-align:center;
      }
    
    .moon {
      grid-column: 2;
      text-align:center;

      span {
          display: block;
          height: 2em;
          margin-bottom: 20%;
        }

      p {
        font-size:1em;
        }
      }
    
    .sunset {
      grid-column: 3;
      text-align:center;
      }

    img {
      height: 3em;
      }

      p {
        font-size:1.9rem;
        margin-top:.3rem;
      }
      h4 {
        margin-top:0rem;
      }
    }

    // .next3days{
    //   grid-row:10;
    //   grid-column:1 / span 3;
    //   display:grid;
    //   justify-self:center;
    //   justify-content: space-between;
    //   overflow-x:auto;
    //   width:100%;
    // }

    .nextday1 {
      grid-row:10;
      grid-column:2;
      color: #CDC3C5;
      text-align:center;

      h4 {
        font-size:3.5rem;
        margin-top:-20px;
        font-weight:300;
      }
    }

    .nextday2 {
      grid-row:10;
      grid-column:3 / span 2;
      color: #CDC3C5;
      text-align:center;

       h4 {
        font-size:3.5rem;
        margin-top:-20px;
        font-weight:300;
      }
    }

    .nextday3 {
      grid-row:10;
      grid-column:5;
      color: #CDC3C5;
      text-align:center;

        h4 {
        font-size:3.5rem;
        margin-top:-20px;
        font-weight:300;
      }
    }

    //     .nextday4 {
    //   color: #CDC3C5;
    //   text-align:center;

    //     h4 {
    //     font-size:3.5rem;
    //     margin-top:-20px;
    //     font-weight:300;
    //   }
    // }

    //     .nextday5 {
    //   color: #CDC3C5;
    //   text-align:center;

    //     h4 {
    //     font-size:3.5rem;
    //     margin-top:-20px;
    //     font-weight:300;
    //   }
    // }

    //     .nextday6 {
    //   color: #CDC3C5;
    //   text-align:center;

    //     h4 {
    //     font-size:3.5rem;
    //     margin-top:-20px;
    //     font-weight:300;
    //   }
    // }

    .rightarrow {
      grid-row:9 / span 2;
      grid-column:6;
      fill:#CDC3C5;

      svg {
        height:2em;
      }
    }


    .menubtn {
      grid-row: 1;
      grid-column: 6;
      width:40px;
      justify-self:end;
      margin-right:2em;
      align-self:end;
    }

    button {
      width: 50px;
      height: 50px;
      background-image: url('../img/hallows button-02.svg');
      background-color: rbga(0,0,0,0); 
      border-radius:50%;
      border: 0px;

    }
}